.divider{
    width: 100%;
    border-bottom: 4px double rgb(189, 189, 189);
    margin: 80px 0 50px;
    position: relative;
    &-Img{
      width: 80px;
      height: auto;
      background: #000;
      position: absolute;
      bottom: -37px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }