.footer{
    color: #fff;
    text-align: center;
    background: $primary;
    padding: 28px 14px;
    &-nav{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            justify-content: flex-start;
            margin-bottom: 0;
        }
    }
    &-navLink{
        @media (min-width: 992px) {
            transition: .6s;
            &:hover{
                color: $navbar-dark-hover-color;
            }
        }
    }
    &-contact{
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: flex-end;
        }
    }
    .icon-style{
        width: 40px;
        height: 40px;
        transition: 0.7s;
        &:hover{
            transform: translateY(-3px);
        }
    }
    &-shopInf{
        margin-bottom: 20px;
        @media (min-width: 768px) {
            text-align: left;
            margin-bottom: 0px;
        }
        h3{
            padding-bottom: 8px;
            border-bottom: 1px solid #fff;
        }
    }
    .copyRight{
        text-align: center;
        @media (min-width: 768px) {
            text-align: right;
        }
    }
    .logoGroup{
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: flex-end;
        }
        &-icon{
            width: 50px;
            height: 50px;
        }
    }
}