
.indexSwiper {
    height: 300px;
    margin-bottom: 60px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2;
      background: linear-gradient(66deg, black 3%, transparent),
                  linear-gradient(transparent, rgba(0,0,0, .89) 99.9%);
    }
    @media (min-width: 768px) { 
      height: 500px;
    }
    @media (min-width: 992px) { 
      height: 100vh;
      // height: 600px;
    }
  }
  .slogan{
      display: none;
      width: 45%;
      text-align: left;
      position: absolute;
      left: 10%;
      bottom: 30%;
      z-index: 3;
      @media (min-width: 768px) { 
        display: block;
      }
      &-text{
        margin-left: 2rem;
      }
  }