
.collapse{
  justify-content: space-between;
}
.nav-item{
  text-align: center;
}

.logo-sm{
  @media (min-width: 992px) { 
    display: none;
  }
}
.logo-lg{
  display: none;
  @media (min-width: 992px) { 
    display: block;
  }
}
