.shopNav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
    li{
        width: 33.333%;
    }
    @media (min-width: 768px) {
        display: block;
        li{
            width: 100%;
            &:first-child{
                a{
                    border-top-right-radius: 1rem;
                    border-top-left-radius: 1rem;
                }
            }
            &:last-child{
                a{
                    border-bottom-right-radius: 1rem;
                    border-bottom-left-radius: 1rem;
                }
            }
        }
    }
    &-item{
        text-align: center;
        padding: 8px 16px;
        transition: 0.8s;
        &:hover{
            background: rgba($secondary, .6);
        }
        @media (min-width: 768px) {
            padding: 20px 16px;
        }
    }
    .action{
        background: $secondary;
    }
}
