@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

.logo-lg{
    font-family: 'Fuggles', cursive;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 0;
    &:hover{
      color: rgb(141, 0, 0);
    }
}